# Local paths
DATA_DIR=Datos
OUTPUT_DIR=outputs

# Azure ML (opcional)
AZ_SUBSCRIPTION_ID=
AZ_RESOURCE_GROUP=
AZ_WORKSPACE_NAME=
AZ_LOCATION=eastus

# Azure ML Online Endpoint
AML_ENDPOINT_NAME=cost-forecast-ets
AML_DEPLOYMENT_NAME=blue
AML_INSTANCE_TYPE=Standard_DS2_v2
AML_INSTANCE_COUNT=1
